body {
    font-family: Arial, sans-serif;
    background-color: #4507f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.screen {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
}

.full-screen {
    width: 60%; /* Ajusta esta medida para ocupar más o menos ancho de la pantalla */
    height: 80%; /* Ajusta esta medida para ocupar más o menos alto de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px; /* Ajusta el tamaño del logo según lo necesites */
    height: auto;
    margin-bottom: 20px;
}

h2 {
    margin: 0 0 20px 0;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    width: 100%;
}

.menu-btn:hover {
    background-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.menu.show .dropdown-content {
    display: block;
}